/*
|===================
|  MEDIUM DEVICES
|===================
*/
@media only screen and (max-width: 1200px) {
  .section-separator {
    padding: 50px 0;
  }
  .navbar li {
    padding: 0 10px;
  }
  .xt-footer .footer-nav ul li {
    margin-right: 20px;
  }
  .header-contact ul li {
    margin-right: 10px;
  }
  .section-title {
    margin-bottom: 50px;
  }
  .xt-featured-member #quote-carousel .carousel-indicators {
    margin-bottom: 30px;
  }
  .xt-header-search #besocial-search-bar {
    right: 15px;
  }
  .xt-header-search #besocial-search-bar.show-search-bar {
    padding-right: 0px;
  }
}
/*
|===================
| TAB LANDSCAPE
|===================
*/
@media only screen and (max-width: 1024px) {
  .xt-business-home .business-content p {
    padding: 0 200px;
  }
  .xt-our-service .each-inner .xt-service-inner-2 .figure-caption {
    padding: 0 10px;
  }
  .xt-business-2 .business-content h2 {
    padding-right: 200px;
  }
  .xt-business-2 .business-content p {
    padding: 0;
  }
  .header-contact-2 ul li .xt-header-search #besocial-search-bar {
    right: 30px;
  }
  .header-contact-2 ul li .xt-header-search #besocial-search-bar.show-search-bar {
    margin-right: 0px;
  }
}
/*
|===================
| TAB PORTRAIT
|===================
*/
@media only screen and (max-width: 991px) {
  .category-hidden {
    display: none;
  }
  .xt-count .inner-item .count-inner {
    margin-bottom: 50px;
  }
  .xt-featured-member #quote-carousel .carousel-indicators {
    margin-bottom: 0;
  }
  .xt-skills .skill-info {
    padding: 36px 30px;
  }
  .xt-blog .blog-inner .inner-content .post-info span {
    display: block;
  }
  .xt-blog .blog-inner .inner-content .post-info .post-author {
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .xt-client-review .review-slider .review-item p {
    margin: 20px 0;
    padding: 0 100px;
  }
  .xt-contact .section-title {
    padding-top: 60px;
    margin-bottom: 40px;
  }
  .xt-blog .blog-inner .inner-content {
    margin-top: -30px;
  }
  .xt-popular-post ul li {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  .xt-popular-post ul li .side-post-content {
    padding-left: 0px;
    text-align: left;
    margin-top: 15px;
  }
  .xt-blog .blog-full-post .tag-social .social {
    float: none;
    margin-top: 10px;
  }
  .xt-popular-post ul li img {
    width: 100%;
    height: auto;
    float: none;
    text-align: center;
  }
  .subpage-header .overlay {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .inner-item:nth-child(even) .count-inner {
    border-right-color: transparent;
  }
  .xt-header-search #besocial-search-bar {
    right: 32px;
    padding-right: 0;
  }
  .xt-header-search .besocial-topbar-searchbox input[type="submit"] {
    width: 50px;
  }
  .xt-featured-list .featured-img {
    padding: 0 10px;
  }
  .xt-featured-list .featured-list-inner .btn {
    margin-top: 0px;
  }
  .xt-featured-list .featured-list-inner p {
    margin: 20px 0;
    padding-right: 30px;
  }
  .xt-our-service .each-inner .xt-service-inner-2 {
    padding: 80px 0;
  }
  .header-contact ul li {
    display: inline-block;
    margin-right: 10px;
    float: left;
    margin-bottom: 10px;
    padding: 0px;
    border: 1px solid #eee;
    border-radius: 6px;
  }
  .xt-business-2 .overlay {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .xt-contact #map {
    min-height: 400px;
    width: 100%;
  }
  .xt-blog .each-blog {
    padding-right: 40px;
  }
  .xt-count .inner-item .count-inner .fa {
    font-size: 50px;
    margin-bottom: 20px;
    display: inline-grid;
  }
}
/*
|===================s
| MOBILE DEVICES
|===================
*/
@media only screen and (max-width: 767px) {
  .strict {
    background-color: #fff;
    padding-bottom: 0;
  }
  .xt-header-top {
    padding: 30px 0;
    overflow: hidden;
    padding-bottom: 10px;
    display: none;
  }
  .menu-spacing.strict {
    -webkit-box-shadow: 0px 0px 28px -12px rgba(10, 10, 10, 0.74) ;
    -moz-box-shadow: 0px 0px 28px -12px rgba(10, 10, 10, 0.74) ;
    -ms-box-shadow: 0px 0px 28px -12px rgba(10, 10, 10, 0.74) ;
    -o-box-shadow: 0px 0px 28px -12px rgba(10, 10, 10, 0.74) ;
    box-shadow: 0px 0px 28px -12px rgba(10, 10, 10, 0.74) ;
    margin: 0;
  }
  .navbar-right {
    margin-right: -15px;
  }
  .section-title {
    margin-bottom: 50px;
    padding: 0 10px;
    text-align: center;
  }
  .section-title h2 {
    font-size: 26px;
    line-height: 36px;
  }
  .navbar-brand {
    margin-left: 0;
    padding-left: 15px;
  }
  .two-column-content {
    display: block;
  }
  .two-column-content .inner {
    display: none;
  }
  .xt-logo img {
    display: none;
  }
  .header-contact ul li {
    display: inline-block;
    padding: 2px 0;
    margin-bottom: 10px;
  }
  .business-content h2 {
    font-size: 42px;
    line-height: 54px;
  }
  .xt-business-home .business-content p {
    padding: 0 15px;
  }
  .xt-business-home .business-content .btn {
    margin: 0 3px;
    margin-bottom: 15px;
  }
  .xt-business-home {
    background: #534d4d !important;
  }
  .xt-business-home .overlay {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .xt-service .xt-service-inner {
    float: none;
    text-align: center;
    margin-bottom: 30px;
  }
  .title-hr {
    float: none;
    margin: 0 auto;
  }
  .xt-service .xt-service-inner a {
    float: none;
  }
  .xt-video-content {
    margin-bottom: 40px;
  }
  .xt-count .inner-item .count-inner {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-right-color: transparent;
    text-align: center;
    padding: 0 30px;
    padding-bottom: 20px;
  }
  .xt-featured-list .featured-img img {
    margin: auto;
    margin-bottom: 40px;
  }
  .xt-featured-list .featured-list-inner ul li {
    margin: 10px 0;
    text-align: left;
    float: left;
  }
  .xt-featured-list .featured-list-inner .btn {
    margin-top: 20px;
  }
  .portfolio-nav ul li {
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 0;
  }
  .portfolio-nav ul li span {
    padding: 10px 0;
  }
  .carousel-indicators {
    width: 100%;
  }
  .xt-featured-member .item .member-img img {
    margin-top: 40px;
  }
  .xt-featured-member .item {
    padding: 30px 0px;
  }
  .xt-logos .logo-item {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 20px;
  }
  .xt-skills .skill-info {
    padding: 36px 10px;
    margin-bottom: 40px;
  }
  .xt-blog .blog-inner .inner-content {
    margin-bottom: 40px;
  }
  .xt-client-review .review-slider .review-item p {
    padding: 0 30px;
  }
  .xt-contact #map {
    min-height: 400px;
  }
  .xt-footer-get-touch .get-touch-inner .f-icon {
    width: 100px;
    display: block;
    float: none;
    height: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .xt-footer-get-touch .get-touch-inner .f-icon .fa {
    font-size: 44px;
    height: 80px;
    width: 100%;
    line-height: 80px;
    text-align: center;
  }
  .xt-footer-get-touch .get-touch-btn {
    padding: 30px 0;
    float: none;
    text-align: center;
    margin-top: 20px;
  }
  .xt-footer .footer-social {
    padding: 30px 0;
    float: none;
  }
  .xt-footer .footer-nav {
    padding-bottom: 0;
  }
  .xt-footer .footer-nav ul li {
    margin-right: 20px;
    margin-bottom: 15px;
    display: inline-block;
  }
  .xt-contact .contact-info .xt-contact-inner p {
    padding: 0 15px;
  }
  .xt-service .section-separator {
    padding-bottom: 0;
  }
  .xt-service .xt-service-inner p {
    margin-bottom: 10px;
    float: none;
  }
  .xt-featured-list .featured-list-inner {
    padding-left: 0px;
  }
  .xt-featured-list .featured-list-inner p {
    padding-right: 0px;
  }
  .other-skills {
    padding: 0;
  }
  .header-contact-2 .xt-header-search {
    display: none;
  }
  .xt-business-2 .business-content {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  .xt-business-2 .business-content h2 {
    padding-right: 0px;
  }
  .xt-hola img {
    display: none;
  }
  .contact-3 .section-title {
    text-align: center;
  }
  .contact-3 .form {
    float: none;
  }
  .contact-3 .section-title .title-hr {
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    float: none;
  }
  .btn.btn-big {
    padding: 10px 40px;
  }
  .xt-footer-3 .xt-footer-info-3 img {
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .xt-footer-3 .footer-3-tag {
    margin: 40px 0;
  }
  .xt-footer-3 .footer-3-tag h5 {
    margin-bottom: 15px;
  }
  .xt-footer-3 .footer-3-address h5 {
    margin-bottom: 15px;
  }
  .xt-footer-3-buttom p {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer-3-address .xt-3-address {
    display: block;
  }
  .xt-featured-list .featured-list-inner ul {
    margin-bottom: 0px;
    overflow: hidden;
  }
  .xt-hola {
    margin-bottom: 10px;
  }
  .header-contact-2 ul {
    float: none;
    text-align: center;
    margin: 0 auto;
  }
  .header-contact-2 ul li {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: 0px;
    margin: 0 15px;
  }
  .xt-featured-list .featured-list-inner ul li {
    margin: 10px 0;
    text-align: left;
    float: none;
    display: block;
  }
  .xt-featured-list .featured-list-inner .btn {
    margin-top: 20px;
    float: left;
  }
  .xt-featured-list .featured-list-inner {
    overflow: hidden;
  }
  .xt-contact .right {
    float: none;
  }
  .xt-contact .contact-info .xt-contact-inner {
    text-align: center;
    margin-bottom: 40px;
    overflow: hidden;
  }
  .xt-home-4 {
    background: #f2f2f2 !important;
  }
  .xt-main-nav {
    display: none;
  }
}
/*
|===================
| SMALL MOBILE
|===================
*/
@media only screen and (max-width: 420px) {
  .xt-business-home .business-content p {
    padding: 0;
  }
  .xt-business-home .overlay {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .xt-our-service .each-inner .xt-service-inner-2 {
    padding: 90px 0;
  }
  .xt-featured-member #quote-carousel {
    padding: 0px;
    margin: 0px;
  }
  .xt-contact #map {
    min-height: 350px;
  }
  .xt-business-home .business-content p {
    margin: 30px 0;
  }
  .xt-featured-list .featured-list-inner .btn {
    float: none;
  }
  .subpage-header .subpage-content p {
    font-size: 18px;
    line-height: 30px;
  }
  .subpage-header .subpage-content h2 {
    line-height: 55px;
    font-size: 44px;
  }
}
